body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f8fd;
}

.sectionContacts {
    position: relative; /* Додаємо позиціювання для секції */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Щоб анімація не виходила за межі секції */
}

.contacts-container {
    position: relative; /* Позиціонування для вірного відображення кола */
    z-index: 1; /* Щоб контент був поверх кола */
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
.contact-icon {
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
    vertical-align: middle; 
    border: 3px solid  #bfff31;
    border-radius: 50px;
}
.links-container {
    margin-top: 10px;
    text-align: left; /* вирівнює всі посилання по лівому краю */
    max-width: 80%;
  }
  
  .link {
    display: block; /* робить кожне посилання блоковим для вертикального вирівнювання */
    text-decoration: none;
    color: black;
    padding: 5px;
    
  }
  
  .link:hover {
    background-color: #bfff31;
    color: black;
    border-radius: 5px;
  }
  
.contact-info {
    width: 50%;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.contact-info p i {
    margin-right: 10px;
    color: #bfff31;
}

.rekvizyty-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:  #bfff31;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    color: #000000;
}

.map-container {
    width: 50%;
}

.background-circle {
    position: absolute;
    width: 500px; /* Розмір кола */
    height: 450px; /* Розмір кола */
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    top: 10%; /* Відступ зверху */
    left: -10%; 
    transform: translateX(-50%); 
    animation: rotate 20s linear infinite; 
    z-index: 0; 
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #eef2f7;
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer-content img {
    width: 100px;
}

.social-media a {
    margin: 0 10px;
    font-size: 24px;
    color: #000;
}

.footer-info {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-media {
    display: flex;
    gap: 10px; 
    justify-content: center;
    margin-top: 10px;
}
  
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px; 
    background-color: rgba(33,100,174);
    border-radius: 50%;
    padding: 8px; 
}
  
.social-icon svg {
    fill: #ffffff; 
}
.rekvizyty-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
@media (max-width: 768px) {
    .contacts-container {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .contact-info,
    .map-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        
    }

    .contact-info p {
        font-size: 16px;
    }

    .contact-info h2 {
        font-size: 20px;
    }

    .rekvizyty-btn {
        width: 100%;
        padding: 15px;
    }

    .background-circle {
        width: 300px; /* Зменшуємо розмір кола */
        height: 300px; /* Зменшуємо розмір кола */
        top: 5%; /* Коригуємо відступ зверху */
        left: 50%; 
        transform: translateX(-50%);
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media {
        justify-content: center;
    }
}

