body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sectionCourseT {
  padding: 40px;
}

.course-containerT {
  margin-top: 10%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;

}

.course-headerT h1 {
  margin-top: 100px;
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #000000;
}

.tabsT {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  background-color: #fff;
  border-radius: 50px;
  
}

.tabT {
  flex-grow: 1; 
  text-align: center;
  padding: 15px 30px;
  margin: 0 10px; 
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  border: none;
}


.tabT.activeT {
  background-color: #bfff31;
  border-color: #bfff31;
  color: #000000; 
}

.tabT:hover {
  background-color: #bfff31;
  color: #ffffff; 
}



.programsT {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.programT, .learnT {
  width: 48%;
  padding: 20px;
  border-radius: 8px;
  border-left: 5px solid #bfff31;
  border-bottom: 5px solid #bfff31;
  background-color: #fff;
}


.programT h3, .learnT h3 {
  margin-bottom: 15px;
  font-size: 1.7rem;
  color: #333;
}

.programT ul,
.learnT ul {
  list-style-type: none; 
  padding-left: 20px; 
}

.programT ul li,
.learnT ul li {
  position: relative;
  padding-left: 25px; 
  margin-bottom: 10px;
}

.programT ul li:before,
.learnT ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(50,110,180); 
}


@media (max-width: 768px) {
  .course-containerT h1{
    font-size: 2em;
  }
  .programsT {
    flex-direction: column;
  }

  .programT, .learnT {
    width: 100%;
  }

  .tabsT {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding:10px;
    width: 100%;
    margin-left:0;
    background-color: #fff;
    border-radius: 50px;
  }
  
  .tabT {
    padding: 6px 15px;
    margin: 0 2px;
    border: 2px solid #bfff31;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
  }
}
