.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: black;


  .modal {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    max-width: 400px;
    height: auto;
    overflow: auto;
    position: relative;
    
  }

  .modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .modal input,
  .modal textarea {
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  .modal .submit-btn {
    padding: 10px 50px;
    margin-top: 20px;
    background-color: #bfff31;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .modal .submit-btn:hover {
    background-color: #77a01e;
  }


  .close {
    font-size: 1.5em;
    cursor: pointer;
    color: #000000;
   
  }
  
} 
 
  
@media only screen and (max-width: 768px) {
  .modal {
    width: 70%;
    max-width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .modal h2 {
    font-size: 1.5em;
  }

  .modal input,
  .modal textarea {
    width: 100%;
    max-width: 220px;
    font-size: 1em;
  }

  .modal .submit-btn {
    padding: 10px 30px;
    font-size: 1em;
  }
}
