.modal-overlayc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: black;
}
.success-messagec {
  color: green;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.error-messagec {
  color: red;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.errorc {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.modalc {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  max-width: 400px;
  overflow: auto;
  position: relative;
}

.modalc form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.form-groupc select {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 101%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.modalc .form-groupc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.modalc h2 {
  padding: 5px;
  height: 20px;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

.modalc input,
.modalc textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modalc .submit-btnc {
  padding: 10px 50px;
  margin-top: 20px;
  background-color: #bfff31;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 90%;
}

.modalc .submit-btn:hover {
  background-color: #77a01e;
}



@media only screen and (max-width: 768px) {
  .modalc {
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    height: auto;
    overflow: auto;
    position: relative;
  }

  .modalc input,
  .modalc textarea {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  .modalc .submit-btnc {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #bfff31;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 250px;
    margin-bottom: 10px;
  }

  .closez {
    font-size: 1.5em;
    cursor: pointer;
    color: #000000;
  }
}
