.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: background-color 0.3s ease; 
}

.modal {
  background-color: #fff; 
  padding: 20px; 
  border-radius: 12px; 
  width:30%; 
  max-width: 600px; 
  height: auto;
  overflow: hidden; 
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 0px;
  text-align: center;
  color: #000000;
}


.modal input,
.modal textarea {
  padding: 12px; 
  width: 100%;
  border: 1px solid #ddd; 
  border-radius: 6px; 
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.3s ease; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.modal input:focus,
.modal textarea:focus {
  border-color: #bfff31; 
  outline: none;
}

.modal .submit-btn {
  padding: 12px 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #bfff31;
  color: #000;
  border: none;
  border-radius: 6px; 
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  width:100%;
}



.close {
  font-size: 1.7em; 
  cursor: pointer;
  color: #666; 
  position: absolute;
  top: 15px;
  right: 15px;
  transition: color 0.3s ease;
}

.close:hover {
  color: #333; 
}


@media only screen and (max-width: 768px) {
  .modal {
    padding: 15px;
    width: 95%;
    max-width: 320px;
  }

  .modal h2 {
    font-size: 1.4em;
   
  }

  .modal input,
  .modal textarea {
    width: 100%;
    font-size: 0.95em;
  }

  .modal .submit-btn {
    padding: 10px 18px;
    width: 100%;
    font-size: 0.95em;
  }
  .close {
    font-size: 1.7em; 
    cursor: pointer;
    color: #666; 
    position: absolute;
    top: 5px;
    right: 5px;
    transition: color 0.3s ease;
  }
}
