* {

    margin: 0;
    padding: 0;
  }
  
  .sectionProces {
    text-align: center;
    background-color: rgba(33,100,174);
    color: white;
    
  }
  
  .sectionProces h2 {
    padding-top: 100px;
    padding-right: 300px;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 2em;
  }
  
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .step {

    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
  }
  
  .step img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(33,100,174, 1);
    box-shadow: 0 0 0 5px white;
  }
  
  .bubble-background {
   
    background-image: radial-gradient(circle, rgba(228, 224, 224, 0.911) 1px, transparent 1px);
    background-size: 10px 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    width: 240px; /* Задайте ширину контейнера */
    height: 260px; /* Задайте висоту контейнера */
  }
  .step-number {
    background-color: #A1CF45;
    color: #1E6DAB;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    position: absolute;
    top: -30px;
    left: 45%;
    transform: translateX(-50%);
  }
  
  .step h3 {
    margin: 5px 0;
    font-size: 1.2em;
  }
  
  .step p {
    font-size: 1em;
    margin-bottom:50px ;
  }
 
  
  
  @media (max-width: 768px) {
   
    
    .sectionProces h2 {
      padding-top: 100px;
      
      margin-top: 100px;
      margin-bottom: 80px;
      font-size: 1.5em;
      width: 300px;
      margin-left: 40px;
    }
    
    .steps {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    
    .step {
  
      border-radius: 10px;
      padding: 20px;
      width: 300px;
      text-align: center;
      position: relative;
    }
    
    .step img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid rgba(33,100,174, 1);
      box-shadow: 0 0 0 5px white;
    }
    
    .bubble-background {
     
      background-image: radial-gradient(circle, rgba(228, 224, 224, 0.911) 1px, transparent 1px);
      background-size: 10px 10px; 
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 50%;
      width: 240px; /* Задайте ширину контейнера */
      height: 260px; /* Задайте висоту контейнера */
    }
    .step-number {
      background-color: #A1CF45;
      color: #1E6DAB;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      position: absolute;
      top: -30px;
      left: 45%;
      transform: translateX(-50%);
    }
    
    .step h3 {
      margin: 5px 0;
      font-size: 1.2em;
    }
    
    .step p {
      font-size: 1em;
      margin-bottom:50px ;
    }
 
  }
  

  
  